ul {
    list-style: none;
    margin: 0px;
}

li {
    margin: 0px;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #73463C;
}


#contact-conteneur {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 auto;


}

#contact-conteneur .coordonnées {
    width: 100%;

}


#contact-conteneur .titre {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding: 2rem;
    background-color: #548DBF;
    margin: 0px;
    width: 100%;

}




p {
    margin: 0px;
    padding: 1rem;
}

#contact-conteneur ul {
    align-self: flex-start;
}

#contact-conteneur .formulaire-de-contact {
    align-self: flex-start;
    width: 100%;
    align-self: auto;

}


#contact-conteneur .formulaire-de-contact fieldset {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-color: #548DBF;
    border-style: solid;


}

/* 548DBF  == bleu */
/* #73463C == marron */

#contact-conteneur .formulaire-de-contact fieldset .auteur {
    border-color: #548DBF;
    border-style: solid;
    border-width: thin;


}


#contact-conteneur .formulaire-de-contact fieldset .email {
    border-color: #548DBF;
    border-style: solid;
    border-width: thin;


}

#contact-conteneur .formulaire-de-contact fieldset label {
    padding: 0.5rem;


}

#contact-conteneur .formulaire-de-contact .envoi {
    margin: 15px auto 0px auto;
    border-width: 0px;

}

#contact-conteneur .textarea {
    width: auto;
    height: 200px;
    border-color: #548DBF;
    border-style: solid;
    border-width: thin;
}

#contact-conteneur .titre-formulaire {
    font-size: 1rem;
}

img {
    display: none;
}



@media only screen and (min-width: 460px) {
    img {
        display: block;
        width: 100%;
        max-height: auto;


    }

}